
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* START --- NAV CSS selectors*/
.navbar {
    border-bottom: 1px solid #e6ecf0;
    margin-bottom: 1em;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    margin-right: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    background-color: #E6F5FF;
    color: #1DA1F2;
    border-radius: 1rem;
}

.navbar-light .navbar-nav .nav-link img {
    margin-right: 10px;
}

.navbar-light .navbar-brand {
    color: black;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: none;
}

.navbar-light .navbar-brand:hover {
    color: #1DA1F2;
    border-radius: 1rem;
    background-color: #E6F5FF;
}
/* END --- NAV CSS selectors*/

/* START --- DEFECT REGISTRATION CSS selectors*/
.register-defect {
    margin: auto;
    border: 1px solid red;
}


/* END --- DEFECT REGISTRATION CSS selectors*/

/* START --- POST CSS selectors*/
.post {
    list-style: none;
    padding: 0;
    font-size: 14px;
    box-sizing: border-box;
    padding: .2em;
}

.post-container {
    border-bottom: 0.075em solid #AAB8C2;
    border-radius: 0.5em;
    margin-bottom: 1.5em;
    background-color: #F5F8FA;
}

.post-container:hover {
    border-bottom-color: #1DA1F2;
}

.post-header {
    display: block;
    font-size: 1em;
    border-bottom: 0.075em solid #AAB8C2;
    padding-bottom: 0.2em;
}

.post-profile-pic {
    display: inline-block;
    vertical-align: top;
    margin-left: .2em;
    margin-right: .2em;
}

.post-img-profile-pic {
    border-radius: 50%;
}

.post-username-date-shift{
    display: inline-block;
}

.post-username {
    display: block;
    font-weight: 600;
}

.post-date {
    display: inline-block;
    font-size: 0.8em;
    color: #657786;
}

.post-shift {
    display: inline-block;
    font-size: 0.8em;
    margin-left: 1em;
    color: #657786;
}

.post-section {
    border-width: 0px 0px 0px 1px;
    border-style: dotted;
    border-color: #AAB8C2;
    box-sizing: border-box;
    padding: .2em .2em .2em .4em;
    margin-top: 0.5em;
    margin-left: 1em;
    margin-bottom: 0.5em;

}

.post-part-body {
    display: block;
    font-weight: 600;
}

.post-part {
    display: inline-block;
}

.post-body {
    display: inline-block;
    margin-left: 1em;
    font-style: italic;
}

.post-problem-des {
    display: block;
    margin-bottom: 0.5em;
}

.post-problem-pic img {
    height: 150px;
    width: auto;
    margin: 0.4em;
}

.post-icon {
    height: 12px;
    width: 12px;
    margin-right: 0.3em;
}

.post-footer {
    border-top: 0.075em solid #AAB8C2;
    font-size: 0.8em;
    color: #657786;
}

/* END --- POST CSS selectors*/
@media (max-width: 575.98px){
    .post-problem-pic img {
        height: 75px;
        width: auto;
        margin: 0.1em;
    }

}

@media (min-width: 576px) and (max-width: 767.98px) {
    .post-problem-pic img {
        height: 100px;
        width: auto;
        margin: 0.1em;
    }

}

@media (min-width: 768px) and (max-width: 991.98px) {
    .post-problem-pic img {
        height: 125px;
        width: auto;
        margin: 0.2em;
    }

}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .post-problem-pic img {
        height: 150px;
        width: auto;
        margin: 0.2em;
    }

}

@media (min-width: 1200px) {
    .post-problem-pic img {
        height: 175px;
        width: auto;
        margin: 0.2em;
    }

}


